.advantage {
  min-height: 561px;
  background-image: url("../img/advantage-pic1x.jpg");
  background-size: cover;
  background-position: center;
  background-color: $background-image-color;
  justify-content: center;
  display: flex;
}

.advantage__wrapper {
  padding: 109px 103px 69px;
  max-width: 1366px;
  box-sizing: border-box;
  width: 100%;

  h2 {
    font-size: 28px;
    font-weight: 600px;
    line-height: 42px;
    text-align: center;
    margin: 0;
    padding-bottom: 50px;
  }
}

.advantage__list {
  display: flex;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(246px, 1fr));
  grid-gap: 40px;
  margin: 0;
  padding: 0;
  justify-content: center;

  li {
    background-color: $lightgrey;
    padding: 30px 30px 26px;
    box-sizing: border-box;
    width: 100%;
    margin-right: 40px;
    margin-bottom: 40px;

    &:last-child {
      margin-right: 0;
    }
  }

  h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    padding-top: 18px;
    padding-bottom: 8px;
  }

  p {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
  }
}

.advantage__list-item {
  height: 32px;
  align-items: center;
  display: flex;
}

@media (max-width: $tablet-width) {
  .advantage__wrapper {
    padding: 90px 45px 60px;

    h2 {
      font-size: 26px;
      line-height: 39px;
    }
  }

  .advantage {
    min-height: 588px;
  }

  .advantage__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(206px, 1fr));
    margin: 0;
    padding: 0;
    justify-content: center;
    grid-gap: 30px;

    h3 {
      padding-top: 18px;
      line-height: 25.2px;
    }

    li {
      padding: 20px 10px 24px 20px;
      margin-right: 30px;
      margin-bottom: 30px;
    }
  }
}

@media (max-width: $mobile-width) {
  .advantage {
    min-height: auto;
  }

  .advantage__wrapper {
    padding: 55px 15px 37px;

    h2 {
      padding-bottom: 32px;
      font-size: 24px;
      line-height: 36px;
    }
  }

  .advantage__list {
    display: flex;
    flex-direction: column;
    display: grid;
    grid-template-columns: minmax(290px, 350px);
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    grid-gap: 0;

    li {
      align-self: center;
      padding-top: 22px;
      padding-bottom: 20px;
      margin-bottom: 30px;
      margin-right: 0;
    }

    h3 {
      padding-right: 90px;
      line-height: 25px;
      padding-top: 16px;
      padding-bottom: 11px;
    }

    p {
      padding-right: 0;
    }
  }
}
