.booking {
  min-height: 555px;
  background-image: url("/img/pic-booking1x.jpg");
  background-size: cover;
  background-position: center;
  background-color: $background-image-color;
  display: flex;
  justify-content: center;
}

.booking__wrapper {
  display: flex;
  padding: 50px 162px;
  align-items: center;
  justify-content: space-between;
  max-width: 1366px;
  box-sizing: border-box;
  width: 100%;
}

.booking__form {
  width: 404px;
  background-color: $blue;
  color: $lightgrey;

  h3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    padding: 45px 50px 25px;
    margin: 0;
  }
}

.booking__fields button {
  margin-bottom: 50px;
  cursor: pointer;
}

.booking__fields {
  padding-right: 50px;
  padding-left: 50px;

  input {
    max-width: 303px;
    width: 100%;
    height: 43px;
    margin-bottom: 20px;
    padding: 11px 11px 11px 16px;
    box-sizing: border-box;

    &:last-of-type {
      margin-bottom: 22px;
    }

    &::placeholder {
      font-size: 14px;
      line-height: 21px;
    }
  }
}

.booking__checkbox {
  display: flex;

  label {
    font-size: 10px;
    line-height: 13px;
    margin-left: 23px;
    padding-bottom: 35px;
    position: relative;
  }

  input + label {
    &::before {
      content: "";
      position: absolute;
      left: -23px;
      top: -3px;
      width: 18px;
      height: 18px;
      background-color: $white;
      cursor: pointer;
    }

    &::after {
      content: "";
      position: absolute;
      left: -20px;
      top: 3px;
      width: 13px;
      height: 10px;
      background-image: url("../../img/icon-mark.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      display: none;
    }
  }

  input {
    &:checked + label::after {
      display: block;
    }

    &:focus + label::before {
      outline: 1px solid #3b3a39;
      outline-offset: -1px;
    }

    &:hover + label::before {
      background-color: $hover-color;
    }
  }
}

.booking__description {
  padding-right: 30px;
  width: 50%;

  h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    margin: 0;
    padding-bottom: 5px;
  }

  p {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    margin: 0;
    padding-right: 130px;
    padding-bottom: 10px;
  }
}

@media (max-width: $tablet-width) {
  .booking {
    min-height: 805px;
  }

  .booking__wrapper {
    flex-direction: column;
    padding: 88px 0 0 0;
    text-align: center;
    justify-content: unset;
  }

  .booking__description {
    padding: 0;
    width: auto;

    h2 {
      font-size: 34px;
      line-height: 51px;
    }

    p {
      padding-bottom: 52px;
      padding-right: 200px;
      padding-left: 200px;
    }
  }

  .booking__form {
    h3 {
      text-align: start;
    }
  }

  .booking__fields {
    input {
      height: 44px;
      margin-bottom: 19px;
    }
  }

  .booking__checkbox {
    label {
      padding-bottom: 33px;
    }
  }
}

@media (max-width: $mobile-width) {
  .booking {
    min-height: 760px;
    background-image: url("/img/pic-booking1x-tablet.jpg");
    background-size: cover;
    background-position: center;
  }

  .booking__wrapper {
    padding-top: 62px;
  }

  .booking__description {
    width: 100%;

    h2 {
      font-size: 24px;
      line-height: 31.2px;
      padding-bottom: 13px;
      padding-right: 50px;
      padding-left: 50px;
    }

    p {
      font-size: 16px;
      line-height: 22.4px;
      padding-bottom: 36px;
      padding-right: 30px;
      padding-left: 30px;
    }
  }

  .booking__form {
    max-width: 403px;
    min-width: 290px;
    width: auto;
    margin-right: 15px;
    margin-left: 15px;

    h3 {
      padding: 35px 38px 28px;
      line-height: 25.2px;
      text-align: center;
    }
  }

  .booking__fields {
    padding-right: 30px;
    padding-left: 30px;

    input {
      max-width: inherit;
    }

    input:last-of-type {
      margin-bottom: 17px;
    }
  }

  .booking__checkbox {
    label {
      padding-bottom: 28px;
      text-align: start;
      line-height: 12px;
      margin-left: 27px;
      padding-right: 50px;
    }

    input {
      width: 100%;
      max-width: fit-content;
    }
  }

  .booking__checkbox input + label::before {
    width: 20px;
    height: 20px;
    top: 2px;
    left: -27px;
  }

  .booking__checkbox input + label::after {
    left: -23px;
    top: 8px;
    width: 15px;
    height: 18px;
  }

  .booking__fields button {
    margin-bottom: 40px;
  }
}
