.contact {
  display: flex;
  justify-content: space-between;
  padding: 120px 103px;
  align-items: center;
}

.contact__map {
  height: 306px;
  width: auto;
}

.contact__adress {
  width: 500px;
  padding-left: 50px;

  h3 {
    margin: 0;
    padding-bottom: 30px;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
  }

  div {
    display: flex;
  }
}

.contact__adress-adress {
  p {
    margin: 0;
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
}

.contact__adress-phone {
  padding-top: 15px;

  p {
    margin: 0;
    padding-left: 10px;
  }
}

.contact__adress-break {
  display: none;
}

@media (max-width: $tablet-width) {
  .contact {
    padding: 100px 45px;
  }

  .contact__map {
    overflow: hidden;
    width: 50%;
    height: 335px;
    position: relative;

    img {
      position: absolute;
      height: 100%;
      left: -154px;
    }
  }

  .contact__break {
    display: none;
  }

  .contact__adress {
    padding-left: 30px;
    width: 50%;

    h3 {
      padding-bottom: 25px;
    }
  }

  .contact__adress-break {
    display: inline;
  }
}

@media (max-width: $mobile-width) {
  .contact {
    flex-direction: column;
    padding: 58px 15px 64px;
  }

  .contact__adress {
    order: 1;
    padding: 0;
    width: auto;
    padding-bottom: 40px;

    h3 {
      padding-right: 10px;
    }
  }

  .contact__adress-adress {
    svg {
      padding-top: 7px;
    }
  }

  .contact__map {
    order: 2;
    height: 316px;
    width: 100%;

    img {
      width: auto;
    }
  }
}
