.contact {
  display: flex;
  justify-content: center;
}

.contacts__wrapper {
  display: flex;
  padding: 120px 103px 118px;
  align-items: center;
  max-width: 1366px;
  box-sizing: border-box;
}

.contact__map {
  height: 306px;
  width: auto;

  img {
    width: 560px;
  }
}

.contact__location {
  width: 50%;
  padding-left: 100px;

  h3 {
    margin: 0;
    padding-bottom: 30px;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    white-space: pre-wrap;
  }
}

.contact__address {
  margin: 0;
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 20px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: -20px;
    top: 3px;
    width: 18px;
    height: 22px;
    background-image: url("../../img/icon-point_mark.svg");
    background-repeat: no-repeat;
  }
}

.contact__phone {
  padding-top: 15px;
  margin: 0;
  padding-left: 10px;
  margin-left: 20px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: -20px;
    top: 14px;
    width: 18px;
    height: 22px;
    background-image: url("../../img/icon-phone.svg");
    background-repeat: no-repeat;
  }
}

@media (max-width: $tablet-width) {
  .contacts__wrapper {
    padding: 100px 45px;
    box-sizing: border-box;
    width: 100%;
  }

  .contact__map {
    overflow: hidden;
    width: 324px;
    height: 335px;
    position: relative;

    img {
      position: absolute;
      height: 100%;
      left: -154px;
      width: auto;
    }
  }

  .contact__location {
    padding-left: 30px;
    width: 50%;
    white-space: pre-line;
    margin-right: -15px;
    display: flex;
    flex-direction: column;

    h3 {
      padding-bottom: 25px;
      white-space: pre-line;
    }

    p {
      white-space: pre-wrap;
    }
  }

  .contact__address {
    white-space: pre-wrap;
  }
}

@media (max-width: $mobile-width) {
  .contacts__wrapper {
    flex-direction: column;
    padding: 58px 15px 64px;
    align-items: center;
  }

  .contact__location {
    order: 1;
    padding: 0;
    padding-bottom: 40px;
    width: 100%;
    margin: 0;

    h3 {
      padding-right: 10px;
    }
  }

  .contact__address {
    svg {
      padding-top: 7px;
    }
  }

  .contact__map {
    order: 2;
    height: 316px;
    width: 290px;

    img {
      width: auto;
    }
  }
}
