.description {
  display: flex;
  justify-content: center;
}

.description__wrapper {
  display: flex;
  padding: 120px 103px 117px;
  align-items: center;
  max-width: 1160px;
}

.description__text {
  padding-right: 25px;
  width: 50%;

  h2 {
    font-size: 28px;
    font-weight: 600;
    line-height: 42px;
    padding-bottom: 20px;
    margin: 0;
    width: auto;
    letter-spacing: -0.3px;
  }

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    width: auto;
    padding-right: 50px;
    padding-bottom: 8px;
  }
}

.description__picture {
  overflow: hidden;
}

@media (max-width: $tablet-width) {
  .description__wrapper {
    padding: 91px 45px 86px;
  }

  .description__text {
    padding-right: 16px;

    h2 {
      font-size: 26px;
      line-height: 36.4px;
      padding-bottom: 15px;
      padding-right: 120px;
    }

    p {
      padding-right: 14px;
    }
  }

  .description__picture {
    height: 264px;
    width: 324px;
    overflow: hidden;

    img {
      height: 100%;
      width: auto;
    }
  }
}

@media (max-width: $mobile-width) {
  .description__wrapper {
    flex-direction: column;
    padding: 58px 0 65px;
    width: 100%;
  }

  .description__text {
    padding-right: 0;
    width: 100%;

    h2 {
      font-size: 24px;
      line-height: 33.6px;
      padding-bottom: 17px;
      padding-left: 16px;
      padding-right: 100px;
    }

    p {
      padding-bottom: 31px;
      padding-left: 24px;
      padding-right: 14px;
    }
  }

  .description__picture {
    height: 186px;
    width: 290px;
  }
}
