$white: #ffffff;
$blue: #011c40;
$lightblue: #fafbfd;
$background-image-color: #d9e7f4;
$lightgrey: #f9fbfd;
$hover-color: #5a96da;
$tablet-width: 1023px;
$mobile-width: 767px;

.footer {
  background-color: $blue;
  display: flex;
  justify-content: center;
}

.footer__wrapper {
  width: 100%;
  display: flex;
  padding: 50px 103px;
  max-width: 1160px;
}

.footer__logo {
  padding-right: 40px;

  a {
    color: $lightgrey;
  }
}

.footer__nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.footer__nav-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 500;

  li {
    padding-right: 33px;
  }

  a {
    color: $lightgrey;

    &:hover {
      color: $hover-color;
    }
  }
}

.footer__social {
  margin-left: auto;
  display: flex;
  flex-basis: 10%;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  width: 100%;
  align-items: center;

  a {
    color: $lightgrey;

    &:hover {
      color: $hover-color;
    }
  }
}

@media (max-width: $tablet-width) {
  .footer__wrapper {
    padding: 40px 45px;
  }

  .footer__nav-list {
    font-size: 12px;
    line-height: 14.63px;

    li {
      padding-right: 23px;
    }
  }

  .footer__logo {
    padding-right: 25px;

    svg {
      width: 38px;
    }
  }

  .footer__social {
    flex-basis: 13%;
  }

  .footer__link {
    &--fb {
      width: 9px;
    }

    &--insta,
    &--tw {
      width: 16px;
    }
  }
}

@media (max-width: $mobile-width) {
  .footer__wrapper {
    flex-direction: column;
    padding: 32px 0 0 15px;
  }

  .footer__logo {
    padding-bottom: 17px;
  }

  .footer__nav-list {
    flex-direction: column;

    li {
      padding-bottom: 17px;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  .footer__social {
    margin: 0;
    width: 87px;
    padding-bottom: 37px;
  }

  .footer__nav {
    padding-bottom: 23px;
  }
}
