.main-title {
  min-height: 650px;
  background-color: $background-image-color;
  background-image: url("/img/main1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.main-title__wrapper {
  color: $lightgrey;
  padding-left: 200px;
  padding-top: 270px;
  max-width: 1366px;
  width: 100%;
  box-sizing: border-box;

  h1 {
    font-size: 54px;
    font-weight: 700;
    line-height: 65.83px;
    padding-bottom: 14px;
    margin: 0;
  }

  p {
    font-size: 20px;
    font-weight: 400;
    line-height: 24.38px;
    margin: 0;
  }
}

@media (max-width: $tablet-width) {
  .main-title {
    min-height: 638px;
  }

  .main-title__wrapper {
    padding-left: 45px;
    padding-top: 267px;

    h1 {
      font-size: 50px;
      line-height: 60.95px;
      padding-bottom: 13px;
    }

    p {
      font-size: 18px;
      line-height: 21.94px;
    }
  }
}

@media (max-width: $mobile-width) {
  .main-title {
    min-height: 500px;
    background-image: url("/img/main-tablet1x.jpg");
    background-position: 45% 20%;
    background-size: cover;
  }

  .main-title__wrapper {
    padding-left: 15px;
    padding-top: 175px;

    h1 {
      font-size: 36px;
      line-height: 45px;
    }

    p {
      line-height: 22.4px;
      font-size: 16px;
      padding-right: 100px;
    }
  }
}
