.main-nav__toggle {
  display: none;
  background-color: transparent;
  border: none;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 35px;
  left: 7.5%;
  right: 7.5%;
  z-index: 20;
}

.main-nav__list {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  flex-wrap: wrap;

  li {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.5px;
    padding-right: 33px;
    padding-top: 10px;
    padding-bottom: 10px;

    &:last-child {
      padding-right: 0;
    }

    :hover {
      color: $hover-color;
    }

    // a:focus {
    //   border: 1px solid #29B0D9;
    // }
  }

  a {
    color: $lightgrey;
  }
}

.main-nav__logo {
  margin: 0;
  padding: 0;
  padding-right: 100px;

  a {
    color: $lightgrey;
  }
}

@media (max-width: $tablet-width) {
  .main-nav {
    top: 20px;
    left: 6%;
    right: 5.8%;
  }

  .main-nav__logo {
    svg {
      width: 38px;
    }
  }

  .main-nav__list {
    li {
      font-size: 14px;
      line-height: 17.07px;
      padding-right: 24px;
    }
  }
}

@media (max-width: $mobile-width) {
  .main-nav {
    top: 20px;
    left: 16px;
    right: 15px;
  }

  .main-nav__logo {
    svg {
      width: 42px;
      height: 22px;
    }
  }

  .main-nav__toggle--open {
    display: block;
    color: $lightgrey;
    padding: 0;
    cursor: pointer;

    &:hover {
      color: $hover-color;
    }
  }

  .main-nav__list {
    display: none;
  }

  .main-nav--show {
    padding: 13px 15px 0;
    background-color: $lightgrey;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 0;
    color: $blue;
    top: 0;
    left: 0;
    right: 0;
    height: 285px;
  }

  .main-nav--show .main-nav__toggle--close {
    display: block;
    position: absolute;
    top: 22px;
    right: 11px;
    cursor: pointer;
    color: $blue;
    padding-top: 3px;

    &:hover {
      color: $hover-color;
    }
  }

  .main-nav--show .main-nav__toggle--open {
    display: none;
  }

  .main-nav--show .main-nav__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    padding-bottom: 50px;

    li {
      margin: 0;
      // padding-bottom: 21px;
      font-size: 18px;
      line-height: 21.94px;
    }

    a {
      color: $blue;
      padding-top: 0;
      margin: 0;

      &:hover {
        color: $hover-color;
      }
    }
  }

  .main-nav--show .main-nav__list-item {
    &--directions {
      order: 1;
    }

    &--adv {
      order: 2;
    }

    &--cruises {
      order: 3;
    }

    &--cont {
      order: 4;
    }
  }

  .main-nav--show .main-nav__logo {
    padding-bottom: 33px;
    padding-top: 7px;
    padding-left: 1px;

    a {
      color: $blue;
    }

    svg {
      width: 42px;
    }
  }
}
