.offers {
  display: flex;
  justify-content: center;
}

.offers__wrapper {
  padding: 110px 118px 120px;
  max-width: 1366px;
  box-sizing: border-box;
  width: 100%;

  h2 {
    font-size: 28px;
    font-weight: 600;
    line-height: 42px;
    text-align: center;
    padding-bottom: 49px;
    margin: 0;
  }
}

.offers__list {
  display: grid;
  grid-template-columns: 260px 30px 260px 30px 260px 30px 260px;
  grid-template-rows: 386px 30px 386px;
  margin: 0;
  padding: 0;
  justify-content: center;
  max-width: 1160px;

  li {
    &:first-child {
      grid-row: 1;
      grid-column: 1;
    }

    &:nth-child(2) {
      grid-row: 1;
      grid-column: 3;
    }

    &:nth-child(3) {
      grid-row: 1;
      grid-column: 5;
    }

    &:nth-child(4) {
      grid-row: 1;
      grid-column: 7;
    }

    &:nth-child(5) {
      grid-row: 3;
      grid-column: 1;
    }

    &:nth-child(6) {
      grid-row: 3;
      grid-column: 3;
    }

    &:nth-child(7) {
      grid-row: 3;
      grid-column: 5;
    }

    &:nth-child(8) {
      grid-row: 3;
      grid-column: 7;
    }
  }
}

.offers__card {
  width: 260px;
  height: 386px;
  position: relative;
}

.offers__card-description {
  h3 {
    padding-left: 31px;
    position: absolute;
    left: 0;
    bottom: 3px;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: $lightgrey;
  }
}

.offers__hover-card {
  color: $lightgrey;
  background-color: $blue;
  width: 260px;
  height: 386px;
  padding: 30px 20px;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;

  h3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: $lightgrey;
    margin: 0;
    padding-bottom: 10px;
  }

  h4 {
    font-size: 14px;
    font-weight: 500;
    line-height: 19.6px;
    margin: 0;
  }

  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    padding-bottom: 15px;
    margin: 0;
  }

  a:focus {
    outline: 1px solid #29b0d9;
  }
}

.offers__card:hover .offers__hover-card {
  display: flex;
}

.offers__card:hover .offers__card-description h3 {
  display: none;
}

.offers-button {
  margin-top: 10px;
  color: $blue;
}

@media (min-width: 1076px) and (max-width: 1365px) {
  .offers__list {
    display: grid;
    grid-template-columns: 260px 30px 260px 30px 260px;
    grid-template-rows: 386px 30px 386px 30px 386px;

    li {
      &:first-child {
        grid-row: 1;
        grid-column: 1;
      }

      &:nth-child(2) {
        grid-row: 1;
        grid-column: 3;
      }

      &:nth-child(3) {
        grid-row: 1;
        grid-column: 5;
      }

      &:nth-child(4) {
        grid-row: 3;
        grid-column: 1;
      }

      &:nth-child(5) {
        grid-row: 3;
        grid-column: 3;
      }

      &:nth-child(6) {
        grid-row: 3;
        grid-column: 5;
      }

      &:nth-child(7) {
        grid-row: 5;
        grid-column: 1;
      }

      &:nth-child(8) {
        grid-row: 5;
        grid-column: 3;
      }
    }
  }
}

@media (min-width: 1024px) and (max-width: 1075px) {
  .offers__list {
    display: grid;
    grid-template-columns: 260px 30px 260px;
    grid-template-rows: 386px 30px 386px 30px 386px 30px 386px;

    li {
      &:first-child {
        grid-row: 1;
        grid-column: 1;
      }

      &:nth-child(2) {
        grid-row: 1;
        grid-column: 3;
      }

      &:nth-child(3) {
        grid-row: 3;
        grid-column: 1;
      }

      &:nth-child(4) {
        grid-row: 3;
        grid-column: 3;
      }

      &:nth-child(5) {
        grid-row: 5;
        grid-column: 1;
      }

      &:nth-child(6) {
        grid-row: 5;
        grid-column: 3;
      }

      &:nth-child(7) {
        grid-row: 7;
        grid-column: 1;
      }

      &:nth-child(8) {
        grid-row: 7;
        grid-column: 3;
      }
    }
  }
}

@media (max-width: $tablet-width) {
  .offers__list {
    display: grid;
    grid-template-columns: 309px 30px 309px;
    grid-template-rows: 386px 30px 386px 30px 386px 30px 386px;
    margin: 0;
    padding: 0;
    justify-content: center;

    li {
      &:first-child {
        grid-row: 1;
        grid-column: 1;
      }

      &:nth-child(2) {
        grid-row: 1;
        grid-column: 3;
      }

      &:nth-child(3) {
        grid-row: 3;
        grid-column: 1;
      }

      &:nth-child(4) {
        grid-row: 3;
        grid-column: 3;
      }

      &:nth-child(5) {
        grid-row: 5;
        grid-column: 1;
      }

      &:nth-child(6) {
        grid-row: 5;
        grid-column: 3;
      }

      &:nth-child(7) {
        grid-row: 7;
        grid-column: 1;
      }

      &:nth-child(8) {
        grid-row: 7;
        grid-column: 3;
      }
    }
  }

  .offers__card {
    width: 309px;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .offers__wrapper {
    padding: 90px 60px 100px;
    width: 100%;

    h2 {
      font-size: 26px;
      line-height: 39px;
    }
  }

  .offers__card-description {
    h3 {
      padding-left: 35px;
      padding-bottom: 9px;
    }
  }

  .offers__hover-card {
    width: 309px;
    padding-left: 35px;
    padding-right: 35px;
  }
}

@media (max-width: $mobile-width) {
  .offers__list {
    display: grid;
    grid-template-columns: 270px;
    grid-template-rows: 386px 30px 386px 30px 386px 30px 386px 30px 386px 30px 386px 30px 386px 30px 386px;
    margin: 0;
    padding: 0;
    justify-content: center;

    li {
      &:first-child {
        grid-row: 1;
        grid-column: 1;
      }

      &:nth-child(2) {
        grid-row: 3;
        grid-column: 1;
      }

      &:nth-child(3) {
        grid-row: 5;
        grid-column: 1;
      }

      &:nth-child(4) {
        grid-row: 7;
        grid-column: 1;
      }

      &:nth-child(5) {
        grid-row: 9;
        grid-column: 1;
      }

      &:nth-child(6) {
        grid-row: 11;
        grid-column: 1;
      }

      &:nth-child(7) {
        grid-row: 13;
        grid-column: 1;
      }

      &:nth-child(8) {
        grid-row: 15;
        grid-column: 1;
      }
    }
  }

  .offers__card {
    width: 270px;
  }

  .offers__wrapper {
    padding: 56px 25px 64px;

    h2 {
      padding-bottom: 31px;
      font-size: 24px;
      line-height: 36px;
    }
  }

  .offers__card-description {
    h3 {
      padding-bottom: 0;
      padding-left: 25px;
      bottom: 1px;
    }
  }

  .offers__hover-card {
    width: 270px;
    padding-left: 25px;
    padding-right: 25px;
  }
}
