.offers {
  display: flex;
  justify-content: center;
}

.offers__wrapper {
  padding: 110px 118px 120px;
  max-width: 1366px;
  box-sizing: border-box;
  width: 100%;

  h2 {
    font-size: 28px;
    font-weight: 600;
    line-height: 42px;
    text-align: center;
    padding-bottom: 49px;
    margin: 0;
  }
}

#grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 260px);
  grid-gap: 30px;
  margin: 0;
  padding: 0;
  justify-content: center;
  max-width: 1160px;
}

.offers__card {
  width: 260px;
  height: 386px;
  position: relative;
}

.offers__card-description {
  h3 {
    padding-left: 31px;
    position: absolute;
    left: 0;
    bottom: 3px;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: $lightgrey;
  }
}

.offers__hover-card {
  color: $lightgrey;
  background-color: $blue;
  width: 260px;
  height: 386px;
  padding: 30px 20px;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;

  h3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: $lightgrey;
    margin: 0;
    padding-bottom: 10px;
  }

  h4 {
    font-size: 14px;
    font-weight: 500;
    line-height: 19.6px;
    margin: 0;
  }

  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    padding-bottom: 15px;
    margin: 0;
  }
}

.offers__card:hover .offers__hover-card {
  display: flex;
}

.offers__card:hover .offers__card-description h3 {
  display: none;
}

.offers-button {
  margin-top: 10px;
  color: $blue;
}

@media (max-width: $tablet-width) {
  #grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 309px);
    grid-gap: 30px;
    margin: 0;
    padding: 0;
    justify-content: center;
  }

  .offers__card {
    width: 309px;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .offers__wrapper {
    padding: 90px 60px 100px;
    width: 100%;

    h2 {
      font-size: 26px;
      line-height: 39px;
    }
  }

  .offers__card-description {
    h3 {
      padding-left: 35px;
      padding-bottom: 9px;
    }
  }

  .offers__hover-card {
    width: 309px;
    padding-left: 35px;
    padding-right: 35px;
  }
}

@media (max-width: $mobile-width) {
  #grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 270px);
    grid-gap: 30px;
    margin: 0;
    padding: 0;
    justify-content: center;
  }

  .offers__card {
    width: 270px;
  }

  .offers__wrapper {
    padding: 56px 25px 64px;

    h2 {
      padding-bottom: 31px;
      font-size: 24px;
      line-height: 36px;
    }
  }

  .offers__card-description {
    h3 {
      padding-bottom: 0;
      padding-left: 25px;
      bottom: 1px;
    }
  }

  .offers__hover-card {
    width: 270px;
    padding-left: 25px;
    padding-right: 25px;
  }
}
