html {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", "Arial", sans-serif;
  background-color: #fafbfd;
  color: #011c40;
  margin: auto;
  min-width: 320px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
