@import "normalize.scss";
@import "blocks/header.scss";
@import "blocks/fonts.scss";
@import "blocks/footer.scss";
@import "blocks/contact.scss";
@import "blocks/booking.scss";
@import "visually-hidden.scss";
@import "blocks/button.scss";
@import "blocks/offers.scss";
@import "blocks/advantages.scss";
@import "blocks/description.scss";
@import "blocks/main-nav.scss";
@import "blocks/main-title.scss";

html {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", "Arial", sans-serif;
  background-color: #fafbfd;
  color: #011c40;
  margin: auto;
  position: relative;
  min-width: 320px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}


