@import "normalize.scss";
@import "main-styles.scss";
@import "blocks/header.scss";
@import "fonts.scss";
@import "blocks/footer.scss";
@import "blocks/contact.scss";
@import "blocks/booking.scss";
@import "visually-hidden.scss";
@import "blocks/button.scss";
@import "blocks/offers.scss";
@import "blocks/advantages.scss";
@import "blocks/description.scss";
@import "blocks/main-nav.scss";
@import "blocks/main-title.scss";
