@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-v15-cyrillic-regular.woff2") format("woff2"), url("../fonts/montserrat-v15-cyrillic-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-v15-cyrillic-500.woff2") format("woff2"), url("../fonts/montserrat-v15-cyrillic-500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-v15-cyrillic-700.woff2") format("woff2"), url("../fonts/montserrat-v15-cyrillic-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@import "normalize.scss";
@import "blocks/variable.scss";
@import "blocks/footer.scss";
@import "blocks/contact.scss";
@import "blocks/booking.scss";
@import "visually-hidden.scss";
@import "blocks/button.scss";
@import "blocks/offers.scss";
@import "blocks/advantages.scss";
@import "blocks/description.scss";
@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";


html {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", "Arial", sans-serif;
  background-color: #fafbfd;
  color: #011C40;
  margin: auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
